* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main__container {
    display: flex;
}

.side__bar__content {
    display: flex;
    flex-direction: column;
    background-color: violet;
    justify-content: space-between;
    height: calc(100vh - 55px);
    width: 150px;
}


/* .landing__content {
    width: 100%;
    text-align: center;
    background: forestgreen;
} */